<?xml version="1.0" encoding="utf-8"?>

        <activity android:name=".settings.AnilistSettingsActivity"/>
        <activity android:name=".forum.ForumActivity" />
        <activity android:name=".forum.ThreadViewActivity" />
        <activity android:name=".settings.UserInterfaceSettingsActivity" />
        <activity android:name=".settings.PlayerSettingsActivity" />
        <activity android:name=".settings.ReaderSettingsActivity" />
        <activity android:name=".settings.FAQActivity" />
        <activity android:name=".settings.DownloadQueueActivity" android:parentActivityName=".settings.SettingsActivity" />
        
        
        <activity android:name=".media.GenreActivity" />
        
        
        
        <service
            android:name=".media.anime.AnimePlayerService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>

        <service
            android:name=".media.anime.cast.CastProxyServerService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name=".media.anime.cast.CastExpandedControllerActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="ani.dantotsu.media.anime.cast.DantotsuCastOptionsProvider" />
    </application>

</manifest>
